.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
data/
datasets/
.DS_Store
*.zip
*.tar
*.tar.gz
*.tgz
*.bz2
*.xz
~/.torch/
~/.cache/
~/.torchvision/
__MACOSX/
*.pth
*.pt
*.ckpt
checkpoints/
models/
outputs/
runs/
wandb/
**/data/
**/datasets/
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.bz2
**/*.xz
CNN/data/
